version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/docker-registry
  delete:
    enabled: true
auth:
  htpasswd:
    realm: basic-realm
    path: /etc/docker-registry/shadow
http:
  addr: 0.0.0.0:5000
  headers:
    X-Content-Type-Options: [nosniff]
  tls:
    certificate: /etc/docker/ssl_crt
    key: /etc/docker/ssl_key
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
